#checkoutPage{
    background-color: rgba(0, 0, 0, 0.507);
    border: 3px solid white;
    border-radius: 15px;
    padding-bottom: 1em;
    min-height: 89vh;
}

.deliveryDetails{
    width: 50%;
    height: 20%;
    margin-top: 2%;
    float: left;
    margin-left: 2%;
    border: 3px solid white;
}

#location{
    height: 35%;
    width: 75%;
    float: right;
    margin-top: 2%;
    margin-right: 4%;
    background-color: none;
    padding-bottom: 1%;
    border-bottom: 2px solid white;
}

.symbol{
    color: white;
    float: left;
    margin-left: 2%;
    background-color: none;
    height: 35%;
    width: 10%;
    text-align: center;
}

#readyTime{
    color: white;
    font-size: 40px;
    height: 35%;
    width: 75%;
    float: right;
    margin-bottom: 2%;
    background-color: none;
    border-bottom: 2px solid white;
    margin-right: 4%;
}

.deliveryMethod{
    width: 20%;
    margin-top: 2%;
    height: 15%;
    background-color: none;
    font-size: 40px;
    float: right;
    margin-right: 7.5%;
    border: 3px solid white;
}

.methodChoice{
    width: 100%;
    height: 50%;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    background-color: none;
    color: white;
}

.methodChoice:hover{
    background-color: grey;
}

.methodChoiceSelected{
    background-color: white;
    color: black;
}

.orderView{
    width: 60%;
    margin-top: 15%;
    height: 68%;
    margin-left: 2%;
    overflow: scroll;
    border: 3px solid white;
}

#orderSummary{
    width: 25%;
    height: 68%;
    float: right;
    margin-right: 5%;
    margin-top: 3.5%;
    font-size: 15px;
    border: 3px solid white;
    background-color: none;
}

.breakdown{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total{
    width: 100%;
    top: 70%;
    height: 20%;
    background-color: #d3d3d378;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.payment{
    color: white;
    font-size: 30px;
    text-align: center;
    width: 100%;
    top: 90%;
    height: 10%;
    background-color: gray;
}

.results-table tr {
    font-size: 1.85vmax;
    color: white;
}

.results-table tr label {
    padding: .6em;
}

.pad-white {
    color: white;
    padding: .5vmax;
}