#menuPage {
    display: none;
}

.menu-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
            "menu-categories menu-category-view menu-category-view menu-category-view"
            "menu-categories menu-category-view menu-category-view menu-category-view"
            "menu-categories menu-category-view menu-category-view menu-category-view";
    border-top: .5em solid black;
}


.menu-categories,
.menu-category-view {
    overflow-x: hidden;
    background: #373636bd;
    height: 1000px;
    border: 0.25em solid white;
}

.menu-categories {
    grid-area: menu-categories;
    overflow-y: scroll;
    scrollbar-color: black white;
}

.menu-category-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
            ". . ."
            ". . .";
    grid-area: menu-category-view;
}

#menuTop {
    background: #ffffffe8;
    height: 100%;
}


#menuStoreLogoWrapper {
    float: left;
    width: 25%;
}

#menuStoreLogo {
    width: 62em;
    height: 9em;
    border-bottom: .5em solid black;
    -webkit-transform:
            translateY(20px)
            translateX(5px)
            rotate(-26deg);
    position: absolute;
    top: -2em;
    left: -8em;
}

#menuStoreLogo > img {
    margin-left: 6em;
}

#menuSpecials {
    margin-left: 25%;
    width: 75%;
    font-size: 1.5em;
    height: 10.5em;
}

#menuSpecials > h1 {
    text-decoration: underline;
    font-size: 5vw;
    margin-left: 15vw;
    margin-top: -0.075em;
}

.freeDeliveryBlurb {
    position: absolute;
    margin-top: -2%;
    left: 70%;
    border: .175em solid #000000;
    border-radius: 5px 5px 5px 5px;
    padding: .35em;
}

#itemOneMenu {
    margin-top: -6%;
    margin-left: -10%
}

#itemTwoMenu {
    margin-left: -18%;
}

.menu-categories section {
    padding: 3em;
    border-bottom: 0.25em solid white;
}

.information_desc > i,
.menu-categories-back i {
    transition: 1.2s;
}

.information_desc > i:hover,
.menu-categories-back i:hover {
    transform: scale(1.1);
    text-shadow: 0 0 1em rgba(248, 255, 244, 0.75);
}

.information_desc > i:active {
    transition: 0s;
    transform: scale(1.25);
    text-shadow: 0 0 2em rgba(45, 255, 0, 0.75);
}

.menu-categories-back i,
.menu-categories-back h1,
.menu-categories-back h2 {
    margin-left: 40%;
    -webkit-text-fill-color: #fffafa;
    color: white;
}

.menu-categories-back h1 {
    font-size: 4vmax;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: .25em;
}

.menu-categories-back h2 {
    margin-bottom: -1em;
}

.menu-categories-item {
    text-align: center;
    padding: 3em;
    border-bottom: 0.25em solid white;
}

.menu-categories-item:hover {
    background: black;
}

.menu-categories-item h1 {
    color: white;
    font-size: 2vmax;
    margin-top: 0;
    margin-bottom: 0;
}

.menu-category-view-header {
    width: 74vw;
    text-align: center;
}

.menu-category-view-header h1 {
    font-size: 5em;
    color: white;
    text-decoration: underline;
}

.menu-category-flex {
    display: flex;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.menu-category-item {
    border: 5px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 3em;
    margin: 1em;
    border-bottom: 0.25em solid white !important;
    background: #000000ad;
}

.information_header,
.information_desc,
.menu-category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 10px 30px;
}

.menu-category-item > img,
.information_desc > i {
    padding-left: 1em;
    padding-right: 1em;
}

.information_header > h1 {
    margin: 0;
    font-size: 350%;
}




@media only screen and (max-width: 1818px) {
    #itemOneMenu {
        margin-top: -5%;
        margin-left: -4%;
    }

    #menuSpecials > h1 {
        margin-left: 25vw;
    }
}

@media only screen and (max-width: 1500px) {
    #itemOneMenu {
        margin-top: -3%;
        margin-left: -4%;
    }

    #itemTwoMenu {
        margin-left: -12%;
    }

    #menuSpecials > h1 {
        margin-left: 25vw;
    }
}